<footer>
    <div class="custom-container">
        <div class="row">
            <div class="col-sm-2"><img src="/images/logos/logo.png" alt="" class="logo"></div>
            <div class="col-sm-6 cate-list-group">
                <div class="row">
                    <div class="col-4">
                        <div class="cate-title">PHIM MỚI</div>
                        <div class="cate-list">
                            <ul>
                                <li class="cate-item"><a href="#">Phim lẻ mới</a></li>
                                <li class="cate-item"><a href="#">Phim bộ mới</a></li>
                                <li class="cate-item"><a href="#">Phim chiếu rạp</a></li>
                                <li class="cate-item"><a href="#">Phim kinh điển</a></li>
                                <li class="cate-item"><a href="#">Phim sắp chiếu</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="cate-title">PHIM MỚI</div>
                        <div class="cate-list">
                            <ul>
                                <li class="cate-item"><a href="#">Phim lẻ mới</a></li>
                                <li class="cate-item"><a href="#">Phim bộ mới</a></li>
                                <li class="cate-item"><a href="#">Phim chiếu rạp</a></li>
                                <li class="cate-item"><a href="#">Phim kinh điển</a></li>
                                <li class="cate-item"><a href="#">Phim sắp chiếu</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="cate-title">PHIM MỚI</div>
                        <div class="cate-list">
                            <ul>
                                <li class="cate-item"><a href="#">Phim lẻ mới</a></li>
                                <li class="cate-item"><a href="#">Phim bộ mới</a></li>
                                <li class="cate-item"><a href="#">Phim chiếu rạp</a></li>
                                <li class="cate-item"><a href="#">Phim kinh điển</a></li>
                                <li class="cate-item"><a href="#">Phim sắp chiếu</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-3 contacts">
                <p>Liên hệ quảng cáo</p>
                <p>Email: phimmoi.net@gmail.com</p>
            </div>
        </div>
    </div>
</footer>