<div class="main">
    <div class="custom-container">
        <div class="row">
            <div class="col-lg-8">
                <%- include('left/left.ejs'); %>
            </div>
            <div class="col-sm-4">
                <%- include('right/right.ejs'); %>
            </div>
        </div>
    </div>
</div>