* {
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 12px;
}

html, body {
    background-color: #5b5b5b;
    height: 100%; 
    overflow-x: hidden;
    overflow-y: auto;
}

/* thin scrollbar */
.nice-scroll::-webkit-scrollbar {
    width: 0.5em;
}

.nice-scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.nice-scroll::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 2px solid #292929;
}

.btn:active {
    border: none;
}

@media only screen and (max-width: 600px) {
    .custom-container {
        width: 100% !important;
        margin: auto;
    }    

    div[class^="col"] {
        padding: 5px;
    }

    .header-logo {
        text-align: center;
    }

    .header-logo a img {
        width: 200px;
        height: auto;
        margin: auto;
        margin-top: 50px;
    }

    .dropdown-list {
        position: absolute;
        display: none;
        left: 0;
        top: 100%;
        padding: 0;
        z-index: 1000;
        background-color: #1d1d1d;
        width: 180px;
    }
    
    .pop-up-content {
        position: relative;
        background-color: #151515;
        margin: auto !important;
        top: 0;
        height: 100vh;
        overflow: auto;
        z-index: 2000;
    }    

    .player-window {
        width: 100%;
        height: 210px;
    }

    .pop-up-content .comments .comment-list {
        height: auto;
        margin: 10px;
        background-color: #242424;
    }    

    .right-box {
        width: 100%;
        height: auto;
        margin-top: 10px;
    }

    .movie-cate .movie-cate-list ul li {
        display: inline-block;
        width: 47%;
        height: 260px;
        margin: 5px 3px;
    }

    .col-lg-4 {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-width: 600px) {
    .custom-container {
        max-width: 1300px !important;
        margin: auto;
    }    

    .header-logo a img {
        width: 300px;
        height: auto;
        padding-top: 20px;
        margin: auto;
    }

    .dropdown-list {
        position: absolute;
        display: none;
        left: 0;
        top: 100%;
        padding: 0;
        z-index: 1000;
        background-color: #1d1d1d;
        width: 920px;
    }
    
    .pop-up-content {
        position: relative;
        background-color: #151515;
        margin: 10vh auto !important;
        top: 0;
        height: 80vh;
        z-index: 2000;
        overflow: hidden;
    }  

    .pop-up-content .col-lg-4 {
        height: 100%;
    }
    
    .pop-up-content .col-lg-8 {
        height: 100%;
    }
    
    .player-window {
        width: 100%;
        height: 450px;
    }

    .pop-up-content .comments .comment-list {
        margin: 10px;
        background-color: #242424;
        overflow: auto;
    }    

    .right-box {
        width: 100%;
        height: 665px;
        margin-top: 10px;
    }

    .movie-cate .movie-cate-list ul li {
        display: inline-block;
        width: 23.7%;
        height: 260px;
        margin: 5px 3px;
    }
}

header {
    background-color: #1d1d1d;
    width: 100%;
    margin-top: -20px;
    min-height: 86px;
    height: auto;
    border-bottom: 3px solid #5c5c5c;
}

a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    text-decoration: none;
    color: #f7e148;
}

hr {
    border-bottom: 1px solid #7f7f7f;
    margin: 10px 0   ;
}

.row {
    margin: 20px 0;
}

.header-logo {
    width: 400px;
    height: 100%;
    margin: auto;
}

.header-logo a{
    width: 100%;
    height: 100%;
    margin: auto;
}

.nav-section {
    background-color: #333333;
    border-bottom: 1px solid #b4b4b4;  
    position: relative;
}

.nav-section .nav-link {
    padding: 10px 20px;
    font-size: 1.3rem;
    font-weight: bold;
}

.nav-section .nav-link:hover {
    background-color: #1e1e1e;
}

.title {
    color: #f7e148;
    font-size: 2rem;
    font-weight: 400;
}

.top-movie-list {
    width: 100%;
    height: 430px;
    background-color: #252525;
    padding: 0;
    overflow: hidden;
    position: relative;
}

.top-movie-wrapper {
    width: 20000px;
    top: 0;
    height: 96%;
    margin: 10px 0;
    overflow: auto;
    position: absolute;
}

.section-title {
    color: #f7e148 !important;
    font-size: 2rem;
    font-weight: 400;
}

/* .main .carousel {
    width: 100%;
    height: 330px;
    background-color: #252525;
    padding: 10px 20px;
} */

/* footer {
    background-color: #000000;
    color: #fff;
    width: 100%;
    padding: 10px 0;
}

footer .cate-title {
    color: #f7e148;
    font-size: 1.5rem;
}

footer .cate-list-group,
footer .contacts,
footer .logo  {
    margin-left: 10px;
}

footer .logo {
    width: 120px;
    height: auto;
    margin-bottom: 10px;
}

footer ul{
    list-style-type: none;
    padding-left: 0;
}

footer .cate-item a{
    color: #fff;
    font-size: 1.2rem;
} */

.movie-thumb-big {
    background-size: 100% 100%;
    width: 300px;
    height: 100%;
    margin: 0 6.5px;
    display: inline-block;
    position: relative;
}

.thumb-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}

.movie-thumb-big .movie-info {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
}

a:hover .movie-thumb-big {
    color: #fff;
}

.movie-thumb-big .movie-info .movie-title-vn{
    color: #ff8000;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
}

.movie-thumb-big .time {
    position: absolute;
    padding: 5px 10px;
    background-color: #bf0000;
    width: 90px;
    font-weight: bold;
    margin: 5px;
    z-index: 100;
}

.movie-update {
    background-color: #292929;
    height: 670px;
}

.movie-update .nav-link{
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
}

.movie-update .nav-link:hover{
    color: #ff8000;
}

.movie-thumb-sm {
    height: 90px;
    width: 100%;
    border-bottom: 1px dashed #7f7f7f;
    padding: 5px 12px;
    overflow: hidden;
}

.movie-thumb-sm .movie-info {
    height: 90%;
    width: 55%;
    float: left;
    margin: 0 3px;
}

.movie-thumb-sm a {
    width: 100%;
    height: 100%;   
}

.movie-thumb-sm .time {
    height: 80%;
    width: 15%;
    float: right;
    margin: 0 3px;
    text-align: right;
    z-index: 100;
}

.movie-thumb-sm .figure {
    border: 1px solid #fff;
    height: 90%;
    width: 70px;
    float: left;
    margin: 5px;
}

.movie-thumb-sm .movie-info .movie-title-vn {
    font-size: 1.2rem;
    font-weight: bold;
}

.movie-update .tab-content {
    height: 627px;
    overflow: hidden;
}

.movie-update .tab-content .tab-pane {
    height: auto;
}


.movie-cate {
    margin-top: 10px;
}

.movie-cate-header {
    height: 30px;
    position: relative;
}

.movie-cate-header .section-title {
    float: left;
}

.movie-cate-header .more-btn {
    float: right;
}

.movie-cate-header a {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 1.2rem;
}

.movie-cate-header a:hover {
    color: #e7cb0a;
}

.movie-cate .movie-cate-list ul {
    list-style-type: none;
    margin: 0;
    padding:5px;
    width: 100%;
    height: auto;
    text-align: left;
}



.movie-cate .movie-cate-list ul li .movie-thumb-md {
    height: 100%;
    width: 100%;
    position: relative;
}

.movie-thumb-md .time {
    position: absolute;
    padding: 5px 10px;
    background-color: #bf0000;
    width: 90px;
    font-weight: bold;
    margin: 5px;
    z-index: 100;
}

.movie-thumb-md .movie-info {
    position: absolute;
    bottom: 0;
    height: auto;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 20px;
}

.movie-thumb-md .movie-title-vn{
    font-size: 1.2rem;
    color: #ff8000;
    font-weight: bold;
}

a:hover .movie-thumb-md {
    color: #fff;
}

.top-movie-list .prev-btn,
.top-movie-list .next-btn {
    width: 45px;
    height: 90px;
    background-color: rgba(217, 217, 217, 0.37);
    position: absolute;
    top: 150px;
    z-index: 100;
    background-image: url('../images/icons/arrow.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 4px 23px;
}

.top-movie-list .prev-btn:hover,
.top-movie-list .next-btn:hover {
    background-color: rgba(217, 217, 217, 0.64);
}

.top-movie-list .prev-btn {
    left: 0;
    transform: rotate(180deg);
}

.top-movie-list .next-btn {
    right: 0;
    transform: rotate(0deg);
}

.right-box .right-box-title {
    height: 50px;
    width: 100%;    
}

.right-box .right-box-content {
    background-color: #292929;
    height: calc(100% - 55px);
    width: 100%;
    overflow: auto;
    padding: 10px;
    text-align: center;
    margin: 0;
}

.right-box .right-box-content .content-wrapper {
    overflow: auto;
}

.right-box .right-box-content .content-wrapper .movie-thumb-sm{
    height: 150px;
    padding: 0;
}

.right-box .right-box-content .content-wrapper .movie-thumb-sm .figure{
    height: 90%;
    width: 100px;
}

.tag-box {
    list-style-type: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.tag-item {
    display: inline-block;
    padding: 4px 10px;
    margin: 5px;
    background-color: #5b5b5b;
    color: #fff;
}

.tag-item a {
    font-size: 1.3rem;
}

.tag-box-container {
    height: auto;
}

.tag-box-container .right-box-content{
    height: auto;
    text-align: left;
}

.right-box-content .movie-info,
.movie-thumb-md .movie-info {
    text-align: left;
}

a:hover .movie-thumb-sm .figure {
    opacity: 0.7;
}

a:hover .movie-thumb-big .movie-info .movie-title-vn,
a:hover .movie-thumb-md .movie-info .movie-title-vn {
    color: #f7e148;
}

.breadcrumb-nav {
    width: 100%;
    margin: 0 15px;
}

.breadcrumb {
    background-color: #252525;
    width: 100%;
    font-size: 1.2rem;
}

.breadcrumb .breadcrumb-item{
    font-size: 1.2rem;
}

.breadcrumb .breadcrumb-item a{
    color: #03a9f4;
    font-size: 1.2rem;
}

.breadcrumb .breadcrumb-item a:hover{
    color: #f7e148;
}

.section {
    background-color: #282828;
    width: 100%;
    height: auto;
    padding: 5px;
    margin-top: 10px;
}

.details {
    width: 100%;
    height: 550px;
    background-color: #1d1d1d;
    margin: 0;
}

.details .thumb {
    position: relative;
    padding: 0;
    height: 98%;
    width: 47%;
    margin: 5px;
    float: left;
}

.details .thumb .btns {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: auto;
}

.details .thumb .btns .btn {
    padding: 10px 20px;
    font-size: 1.3rem;
    margin: 13px 3px;
}

.details .movie-info {
    height: 98%;
    width: 50%;
    float: left;
    padding: 10px;
}

.details .movie-info .title {
    z-index: 100;
}

.details .movie-info .movie-title .movie-title-vn {
    color: #f7e148;
    font-size: 2.5rem;
    font-weight: thin;
}

.details .movie-info .movie-title .movie-title-en {
    color: #909090;
    font-size: 1.5rem;
    font-weight: thin;
}

.details .movie-info .movie-dl-list {
    background-color: #252525;
    margin: 5px;
    padding: 5px;
    overflow: auto;
    height: 300px;
}

.details .movie-info .movie-dl-list .movie-dl-item .dl-title{
    font-size: 1.2rem;
    color: #b5b5b5;
    font-weight: bold;
}

.details .movie-info .movie-dl-list .movie-dl-item .dl-value{
    font-size: 1.2rem;
    color: #b5b5b5;
    font-weight: thin;
}

.details .movie-info .movie-rating {
    background-color: #252525;
    margin: 5px;
    padding: 5px;
    overflow: auto;
    height: 100px;
}

.details .movie-info .movie-rating .dl-title-bg {
    color: #f7e148;
    font-size: 1.5rem;
}

.star-rating {
    color: #b5b5b5;
    font-size: 1.5rem;
    padding: none;
}

.star-rating .fa-star.checked {
    color: #f7e148;
    font-size: 1.5rem;
    padding: none;
}

.section-sm {
    padding: 5px;
    margin: 10px 5px;
    background-color: #1d1d1d;
    width: 100%;
    overflow-x: hidden;
}

.summary-content {
    color: #b5b5b5;
    font-size: 1.5rem;
}

.title-sm {
    color: #f7e148;
    font-size: 2rem;
    padding: none;
    margin: 10px 0;
}

figure {
    padding: 10px;
    max-height: 100%;
}

figure img{
    padding: 0;
    margin: 0;
    max-height: 100%;
}

.watching-window {
    margin: 5px;
    width: calc(100% - 10px);
    padding-bottom: 40px;
}

.watching-window:focus {
    outline: none;
}

.details-sm {
    width: 100%;
    height: 260px;
    background-color: #1d1d1d;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.details-sm .movie-info-sm {
    position: absolute;
    left: 25%;
    height: 100%;
    margin: 5px;
    padding: 5px;
    width: 74%;
}

.details-sm .movie-info-sm .btns{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #00000038;
    height: auto;
}

.details-sm .movie-info-sm .btns .btn {
    padding: 10px 20px;
    font-size: 1.3rem;
    margin: 13px 3px;
}

.details-sm .movie-info-sm .btns .btn.summary-btn {
    color: #fff;
}

.details-sm .movie-info-sm .btns .btn.summary-btn:hover {
    color: #f7e148;
}

.details-sm .thumb-sm {
    position: relative;
    padding: 0;
    height: 98%;
    width: 25%;
    margin: 5px;
    float: left;
}

.details-sm .thumb-sm .btns {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    height: auto;
}

.details-sm .thumb-sm .btns .btn {
    padding: 10px 20px;
    font-size: 1.3rem;
    margin: 13px 3px;
}

.nav-item {
    position: relative;
}

.dropdown-item {
    min-width: 150px;
    width: auto;
    display: inline-block;
    padding: 20px;
}

.dropdown-item a{
    font-size: 1.4rem;
    text-transform: capitalize;
}

.dropdown-item:hover{
    background-color: #1d1d1d;
}

.pop-up-window {
    width: 100vw;
    height: 100vh;
    background-color: #00000075;
    z-index: 1000;
    position: fixed;
    display: none;
}

.pop-up-login {
    width: 100vw;
    height: 100vh;
    background-color: #00000075;
    z-index: 2000;
    position: fixed;
    display: none;
}

.pop-up-login .validate-box {
    width: 400px;
    height: auto;
    background-color: #2c2c2c;
    margin-top: 15px;
    padding: 15px 20px;
    z-index: 2000;
    position: relative;
    display: block;
    float: right;
}

.pop-up-login .validate-box .close-modal-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 10000;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
    background-color: #ffffff7d;

}

.pop-up-login .validate-box .register-form,
.pop-up-login .validate-box .login-form {
    padding: 10px;
    margin: 20px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    display: none;
}

.pop-up-login .validate-box .register-form a,
.pop-up-login .validate-box .login-form a {
    margin: auto;
}

/* .pop-up-login .validate-box .login-form {
    display: none;
} */

.pop-up-login .validate-box .register-form .btns,
.pop-up-login .validate-box .login-form .btns {
    text-align: center;
    padding: 20px;
}

.pop-up-login .validate-box .register-form .btns input,
.pop-up-login .validate-box .login-form .btns input{
    width: 90px;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #9b0000;
    border: none;
}

.pop-up-login .validate-box .section-title {
    text-align: center;
}

.pop-up-login .validate-box .input-field {
    display: block;
}

.pop-up-login .validate-box .input-field label {
    width: 150px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: bold;
}

.pop-up-login .validate-box .input-field input {
    width: 200px;
    font-size: 1.2rem;
    color: #000000;
}


.pop-up-content .movie-details {
    overflow: auto;
    height: 100%;
}

.pop-up-content .comments {
    height: 100%;
}

.pop-up-content .comments .comment-list .comment {
    margin: 10px 0px;
    padding: 10px 5px;
    background-color: #15151561;
    height: auto;
    width: auto;
    position: relative;
}

.pop-up-content .comments .comment-list .comment .avatar {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-bottom: 50px;
    position: absolute;
    margin: 10px;
}

.pop-up-content .comments .comment-list .comment .avatar img {
    width: 100%;
    height: auto;
}

.pop-up-content .comments .comment-list .comment .comment-details {
    display: inline-block;
    width: 80%;
    color: #fff;
    margin-top: 10px;
    margin-left: 20%;
}

.pop-up-content .comments .comment-list .comment .comment-details .user-name {
    font-size: 1.4rem;
    font-weight: bold;  
}

.pop-up-content .comments .comment-list .comment .comment-details .comment-content {
    font-size: 1.3rem;
}

/* comment form start */
.pop-up-content .comments .comment-form .comment {
    margin: 10px 0px;
    padding: 10px 5px;
    background-color: #15151561;
    height: auto;
    width: 100%;
    position: relative;
}

.pop-up-content .comments .comment-form .comment .avatar {
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-bottom: 50px;
    position: absolute;
    margin: 10px;
}

.pop-up-content .comments .comment-form .comment .avatar img {
    width: 100%;
    height: auto;
}

.pop-up-content .comments .comment-form .comment .comment-details {
    display: inline-block;
    width: 80%;
    color: #fff;
    margin-top: 10px;
    margin-left: 20%;
}

.pop-up-content .comments .comment-form .comment .comment-details .user-name {
    font-size: 1.4rem;
    font-weight: bold;  
}

.pop-up-content .comments .comment-form .comment .comment-details .comment-content {
    font-size: 1.3rem;
}

.pop-up-content .comments .comment-form .comment .comment-details .comment-content .comment-btns{
    text-align: right;
    padding: 0px 5px;
    display: none;
}

.pop-up-content .comments .comment-form .comment .comment-details .comment-content .comment-btns .up-btn{
    background-color: #4267b2;
    color: #fff;
    border: 1px solid #4267b2;
    border-radius: 3px;
    padding: 3px 15px;
    font-size: 1.3rem; 
    font-weight: bold;
}

/* comment form end */

.close-modal-btn {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10000;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    background-color: #ffffff7d;
}

.more-btn {
    font-size: 1.3rem;
}

@media only screen and (max-width: 400px) {
    .search-widget {
        width:350px;
        height: 40px;
        background-color: #757575;
        padding: 0px 5px;
        border-radius: 20px;
        margin: auto;
        margin-top: 40px;
    }
}

@media only screen and (min-width: 401px) {
    .search-widget {
        width:400px;
        height: 40px;
        background-color: #757575;
        padding: 0px 5px;
        border-radius: 20px;
        margin: auto;
        margin-top: 40px;
    }
}

.search-widget form button{
    width: 35px;
    height: 35px;
    font-size: 1.6rem;
    border: none;
    border-radius: 50%;
    margin: 2px 0;
    background-color: #a32e2e;
}

.fa {
    margin-bottom: 5px;
    margin-left: 2px;
    color: #fff;
}

.search-widget form input {
    width: calc(100% - 44px);
    height: 35px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: #fff !important;
    font-size: 1.3rem;
    margin-left: 5px;
    margin-bottom: 3px;
}

.search-widget form input:focus {
    outline: none;
}

.download-link-item {
    font-size: 2rem;
}

.pop-up-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1500;
}

.section-title {
    text-transform: uppercase;
}

.movie-link {
    background-color: #272727;
    overflow: hidden;
}

form #movie-id,
form #user-id {
    display: none;
}

.login-btn {
    position: fixed;
    z-index: 200;
    background-color: #e9e9e96e;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    right: 25px;
    top: 15px;
}

.login-btn img {
    width: 80%;
    height: 60%;
}

.logout-btn {
    position: fixed;
    z-index: 200;
    background-color: #e9e9e96e;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    right: 25px;
    top: 15px;
}

.logout-btn img {
    width: 80%;
    height: 60%;
}

.notifications {
    margin: 10px;
}

.notifications .success,
.notifications .fail {
    height: 30px;
    font-size: 1.2rem;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding-top: 6px;
    display: none;
}

.notifications .success {
    background-color: #0aa13f;
}

.notifications .fail {
    background-color: #e93a3a;
}

.notif,
.notif a {
    color: #e2e2e2;
    font-size: 1.4rem;
}

.notif a:hover {
    color: #3900e6;
    font-size: 1.4rem;
    text-decoration: underline;
}

.clear {
    clear: both;
}

.pop-up-content .col-lg-8 {
    overflow: auto;
}