<div class="main">
    <div class="custom-container">
        <div class="row">
            <div class="col-lg-12 clear">
                <%- include('carousel/carousel.ejs'); %>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 clear">
                <%- include('left/left.ejs'); %>
            </div>
            <div class="col-lg-4 clear">
                <%- include('right/right.ejs'); %>
            </div>
        </div>
    </div>
</div>