<div class="main">
    <div class="custom-container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">PHIM ĐỀ CỬ</div>
                <hr>
                <div class="top-movie-list">
                    <a href="#" class="prev-btn">
                        <span class="arrow-icon"></span>
                    </a>
                    <a href="#" class="next-btn">
                        <span class="arrow-icon"></span>
                    </a>
                    <div class="top-movie-wrapper">
                        <a href="#">
                            <div class="movie-link movie-thumb-big" title="Chú hề ma quái 2">
                                <div class="movie-info">
                                    <div class="movie-title-vn">Chú hề ma quái đầu</div>
                                    <div class="movie-title-en">It chapter two</div>
                                </div>
                                <div class="time">137 phút</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="movie-link movie-thumb-big" title="Chú hề ma quái 2">
                                <div class="movie-info">
                                    <div class="movie-title-vn">Chú hề ma quái 2</div>
                                    <div class="movie-title-en">It chapter two</div>
                                </div>
                                <div class="time">137 phút</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="movie-link movie-thumb-big" title="Chú hề ma quái 2">
                                <div class="movie-info">
                                    <div class="movie-title-vn">Chú hề ma quái 2</div>
                                    <div class="movie-title-en">It chapter two</div>
                                </div>
                                <div class="time">137 phút</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="movie-link movie-thumb-big" title="Chú hề ma quái 2">
                                <div class="movie-info">
                                    <div class="movie-title-vn">Chú hề ma quái 2</div>
                                    <div class="movie-title-en">It chapter two</div>
                                </div>
                                <div class="time">137 phút</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="movie-link movie-thumb-big" title="Chú hề ma quái 2">
                                <div class="movie-info">
                                    <div class="movie-title-vn">Chú hề ma quái 2</div>
                                    <div class="movie-title-en">It chapter two</div>
                                </div>
                                <div class="time">137 phút</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="movie-link movie-thumb-big" title="Chú hề ma quái 2">
                                <div class="movie-info">
                                    <div class="movie-title-vn">Chú hề ma quái 2</div>
                                    <div class="movie-title-en">It chapter two</div>
                                </div>
                                <div class="time">137 phút</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="movie-link movie-thumb-big" title="Chú hề ma quái 2">
                                <div class="movie-info">
                                    <div class="movie-title-vn">Chú hề ma quái 2</div>
                                    <div class="movie-title-en">It chapter two</div>
                                </div>
                                <div class="time">137 phút</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="movie-link movie-thumb-big" title="Chú hề ma quái 2">
                                <div class="movie-info">
                                    <div class="movie-title-vn">Chú hề ma quái 2</div>
                                    <div class="movie-title-en">It chapter two</div>
                                </div>
                                <div class="time">137 phút</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="movie-link movie-thumb-big" title="Chú hề ma quái 2">
                                <div class="movie-info">
                                    <div class="movie-title-vn">Chú hề ma quái 2</div>
                                    <div class="movie-title-en">It chapter two</div>
                                </div>
                                <div class="time">137 phút</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="movie-link movie-thumb-big" title="Chú hề ma quái 2">
                                <div class="movie-info">
                                    <div class="movie-title-vn">Chú hề ma quái 2</div>
                                    <div class="movie-title-en">It chapter two</div>
                                </div>
                                <div class="time">137 phút</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="movie-link movie-thumb-big" title="Chú hề ma quái 2">
                                <div class="movie-info">
                                    <div class="movie-title-vn">Chú hề ma quái 2</div>
                                    <div class="movie-title-en">It chapter two</div>
                                </div>
                                <div class="time">137 phút</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="movie-link movie-thumb-big" title="Chú hề ma quái 2">
                                <div class="movie-info">
                                    <div class="movie-title-vn">Chú hề ma quái 2</div>
                                    <div class="movie-title-en">It chapter two</div>
                                </div>
                                <div class="time">137 phút</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="movie-link movie-thumb-big" title="Chú hề ma quái 2">
                                <div class="movie-info">
                                    <div class="movie-title-vn">Chú hề ma quái 2</div>
                                    <div class="movie-title-en">It chapter two</div>
                                </div>
                                <div class="time">137 phút</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="movie-link movie-thumb-big" title="Chú hề ma quái 2">
                                <div class="movie-info">
                                    <div class="movie-title-vn">Chú hề ma quái 2</div>
                                    <div class="movie-title-en">It chapter two</div>
                                </div>
                                <div class="time">137 phút</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="movie-link movie-thumb-big" title="Chú hề ma quái 2">
                                <div class="movie-info">
                                    <div class="movie-title-vn">Chú hề ma quái 2</div>
                                    <div class="movie-title-en">It chapter two</div>
                                </div>
                                <div class="time">137 phút</div>
                            </div>
                        </a>
                        <a href="#">
                            <div class="movie-link movie-thumb-big" title="Chú hề ma quái 2">
                                <div class="movie-info">
                                    <div class="movie-title-vn">Chú hề ma quái cuối</div>
                                    <div class="movie-title-en">It chapter two</div>
                                </div>
                                <div class="time">137 phút</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div class="movie-update">
                    <div class="update-btn-list">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a href="#list1" class="nav-link active" data-toggle="tab">Phim lẻ
                                    mới</a></li>
                            <li class="nav-item"><a href="#list2" class="nav-link" data-toggle="tab">Phim bộ mới</a>
                            </li>
                            <li class="nav-item"><a href="#list3" class="nav-link" data-toggle="tab">Phim bộ
                                    full</a></li>
                        </ul>
                    </div>
                    <div class="tab-content nice-scroll">
                        <div id="list1" class="tab-pane active">
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                        </div>
                        <div id="list2" class="tab-pane fade">
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                        </div>
                        <div id="list3" class="tab-pane fade">
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                    </div>
                                    <div class="time">137 phút</div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="movie-cate">
                    <div class="movie-cate-header">
                        <div class="section-title">PHIM CHIẾU RẠP MỚI</div>
                        <a class="more-btn" href="">Xem tất cả ></a>
                    </div>
                    <hr>
                    <div class="movie-cate-list">
                        <div class="row">
                            <ul>
                                <li><a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a></li>
                                <li>
                                    <a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a>
                                </li>
                                <li><a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a></li>
                                <li>
                                    <a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="movie-cate">
                    <div class="movie-cate-header">
                        <div class="section-title">PHIM CHIẾU RẠP MỚI</div>
                        <a class="more-btn" href="">Xem tất cả ></a>
                    </div>
                    <hr>
                    <div class="movie-cate-list">
                        <div class="row">
                            <ul>
                                <li><a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a></li>
                                <li>
                                    <a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a>
                                </li>
                                <li><a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a></li>
                                <li>
                                    <a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="movie-cate">
                    <div class="movie-cate-header">
                        <div class="section-title">PHIM LẺ MỚI CẬP NHẬT</div>
                        <a class="more-btn" href="">Xem tất cả ></a>
                    </div>
                    <hr>
                    <div class="movie-cate-list">
                        <div class="row">
                            <ul>
                                <li><a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a></li>
                                <li>
                                    <a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a>
                                </li>
                                <li><a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a></li>
                                <li><a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a></li>
                                <li>
                                    <a href="#">
                                        <div class="movie-link movie-thumb-md" title="Chú hề ma quái 2">
                                            <div class="movie-info">
                                                <div class="movie-title-vn">Chú hề ma quái 2</div>
                                                <div class="movie-title-en">It chapter two</div>
                                            </div>
                                            <div class="time">137 phút</div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="right-box">
                    <div class="right-box-title">
                        <div class="title">TRAILER PHIM MỚI</div>
                    </div>
                    <div class="right-box-content nice-scroll">
                        <div class="content-wrapper">
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                        <p class="views">Lượt xem: 10</p>
                                        <div class="star-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                        <p class="views">Lượt xem: 10</p>
                                        <div class="star-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                        <p class="views">Lượt xem: 10</p>
                                        <div class="star-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                        <p class="views">Lượt xem: 10</p>
                                        <div class="star-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                        <p class="views">Lượt xem: 10</p>
                                        <div class="star-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                        <p class="views">Lượt xem: 10</p>
                                        <div class="star-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                        <p class="views">Lượt xem: 10</p>
                                        <div class="star-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right-box">
                    <div class="right-box-title">
                        <div class="title">PHIM LẺ HOT TRONG TUẦN</div>
                    </div>
                    <div class="right-box-content nice-scroll">
                        <div class="content-wrapper">
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                        <p class="views">Lượt xem: 10</p>
                                        <div class="star-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                        <p class="views">Lượt xem: 10</p>
                                        <div class="star-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                        <p class="views">Lượt xem: 10</p>
                                        <div class="star-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                        <p class="views">Lượt xem: 10</p>
                                        <div class="star-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                        <p class="views">Lượt xem: 10</p>
                                        <div class="star-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            <a href="#">
                                <div class="movie-link movie-thumb-sm">
                                    <div class="figure"></div>
                                    <div class="movie-info">
                                        <p class="movie-title-vn">Chú hề ma quái 2</p>
                                        <p class="movie-title-en">It chapter two</p>
                                        <p class="views">Lượt xem: 10</p>
                                        <div class="star-rating">
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star checked"></span>
                                            <span class="fa fa-star"></span>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="right-box tag-box-container">
                    <div class="right-box-title">
                        <div class="title">TỪ KHÓA NỔI BẬT</div>
                    </div>
                    <div class="right-box-content">
                        <ul class="tag-box">
                            <li class="tag-item">
                                <a href="#">tội phạm</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">hình sự</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">phim việt nam</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">châu tinh trì</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">tội phạm</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">tội phạm</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">hình sự</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">phim việt nam</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">châu tinh trì</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">tội phạm</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">tội phạm</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">hình sự</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">phim việt nam</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">châu tinh trì</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">tội phạm</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">tội phạm</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">hình sự</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">phim việt nam</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">châu tinh trì</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">tội phạm</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">tội phạm</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">hình sự</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">phim việt nam</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">châu tinh trì</a>
                            </li>
                            <li class="tag-item">
                                <a href="#">tội phạm</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>