<div class="pop-up-login">
    <div class="validate-box custom-container">
        <button class="close-modal-btn close-login-modal">&#10006;</button>
        <div class="section-title">
            Đăng ký
        </div>
        <form action="#" class="register-form" method="POST">
            <div class="input-field">
                <label for="username">Tên</label>
                <input type="text" name="first-name" class="first-name">
            </div>

            <div class="input-field">
                <label for="username">Họ</label>
                <input type="text" name="last-name" class="last-name">
            </div>

            <div class="input-field">
                <label for="username">Tên đăng nhập</label>
                <input type="text" name="username" class="username">
            </div>

            <div class="input-field">
                <label for="password">Mật khẩu</label>
                <input type="password" name="password" class="password">
            </div>

            <div class="input-field">
                <label for="confirm-password">Nhập lại mật khẩu</label>
                <input type="password" name="confirm-password" class="confirm-password">
            </div>
            <div class="notifications">
                <div class="success">Thành công</div>
                <div class="fail">Thất bại</div>
            </div>
            <div class="btns">
                <input type="button" value="Đăng ký">
            </div>
            <a href="#" id="open-login">Đã có tài khoản?</a>
        </form>
        <form action="/login" class="login-form" method="POST">
            <div class="input-field">
                <label for="username">Tên đăng nhập</label>
                <input type="text" name="username" class="username">
            </div>

            <div class="input-field">
                <label for="password">Mật khẩu</label>
                <input type="password" name="password" class="password">
            </div>

            <div class="btns">
                <input type="submit" value="Đăng nhập">
            </div>
            <a href="#" id="open-register">Tạo tài khoản mới.</a>
        </form>
    </div>
    <div class="pop-up-bg"></div>
</div>